@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #f4f1de;
  --background-end-rgb: #f4f1de;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

ul {
  list-style: disc;
}

body {
  color: #3d405b;
  background: #f4f1de;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}